.container{
    background-color: rgba(28, 28, 28, 1);
    min-width: 300px;
}
.separator{
    background-color: rgba(50, 50, 50, 1);
    min-height: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
GridBackground{
    --grid-background-color: #282828;
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.1);
    --spacing: 10;
}